<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DoubtConnect Admin Api | Docs</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		html, body {
			width: 100%;
			height: 100%;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body class="m-5">
	<ul>
		<li>Teachers currently in phase 2 - <a href="/api/phase2">/api/phase2</a></li>
		<li>Students help - <a href="/api/help-s">/api/help-s</a></li>
		<li>Teachers help - <a href="/api/help-t">/api/help-t</a></li>
		<li>Student tickets - <a href="/api/ticket-s">/api/ticket-s</a></li>
		<li>Teacher tickets - <a href="/api/ticket-t">/api/ticket-t</a></li>
		<li>Teachers requesting edits - <a href="/api/request-edits">/api/request-edits</a></li>
	</ul>
</body>
</html>
